#image
{
    display: block;
    margin-left: 40%;
    margin-top: 10%;
    width: 50%;
}

#search
{
   
display: block;
margin-left: 33%;
margin-top: 5%;


border-radius: 25px;
border: 1px solid black;
padding: 20px;
height:5%;
width:30%;

}